.wrapper {
    width: 100%;
    margin: auto;

    .board {
        width: min(90%, 1500px);
        margin: auto;

        @media (max-width: 768px) {
            width: 95%;
        }
    }

    .grid-container {
        width: 100%;
        margin: auto;
        display: grid;
        gap: 5px;

        grid-template-columns: repeat(10, 1fr);

        @media (max-width: 768px) {
            grid-template-columns: repeat(5, 1fr);
            gap: 30px;
        }
    }
}