$shadow-main: 0 6px 14px rgba(0, 0, 0, 0.25);

.grid-item {
  position: relative;
  aspect-ratio: 1;

  .item {
    position: absolute;
    width: 50px;
    height: 50px;

    display: grid;
    place-items: center;

    border-radius: 50%;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      box-shadow: $shadow-main;
      transform: scale(1.1) translate(-50%, -50%);
    }
  }

  .selected {
    outline: 2px solid red;
  }

  .indicate {
    animation: pulse 1s infinite;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.6);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}