.wrapper {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: white;
        background-color: #333;

        padding: 0 22px;
        height: 60px;

        position: sticky; 
        top: 0;
        z-index: 1000;

        .size-menu-toggle-icon {
            display: none;
            padding: 0 20px 0 0; 
            cursor: pointer;
        }

        .topbar-logo-render {
            font-weight: 600;
            font-size: 18px;
            cursor: pointer;
            width: 100%;
            flex: 1;
        }

        .navigation-item {
            display: flex;
            gap: 24px;

            list-style: none;
            margin: 0;
            padding: 0;

            flex: 2; 
            justify-content: center;
            width: 100%;
        }

        .navigation-item li {
            cursor: pointer;
            font-size: 14px;
            transition: color 0.2s;
        }

        .navigation-item li:hover {
            color: #007bff;
        }
        
        .account-and-setting {
            font-size: 14px;
            cursor: pointer;
            width: 100%;
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }
    }

    .side-menu-and-content {
        display: flex;
        .mini-side-menu {
            display: none;
        }

        .content {
            width: 100%;
            padding: 0 20px;
        }
    }
}

@media screen and (max-width: 970px)  {
    .wrapper {
        .header {
            .size-menu-toggle-icon {
                display: inline;
                padding: 0 20px 0 0; 
                cursor: pointer;
            }

            .topbar-logo-render {  
                margin-left: 10px;
            }

            .navigation-item {
                display: none;
            }
        }

        .side-menu-and-content {
            .mini-side-menu {
                color: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                width: 65px;
                background-color: #333;

                li {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }

            .content {
                width: 100%;
                padding: 0 7px;
            }
        }
    }

}

@media screen and (max-width: 650px)  {
    .wrapper {
        .side-menu-and-content {
            .mini-side-menu {
                display: none;
            }
        }
    }

}